{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "spaced-comment": 0,
    "no-console": 0,
    "no-unused-expressions": [2, { "allowShortCircuit": true }],
    "class-methods-use-this": 0
  },
  "env": {
    "browser": true
  },
  "globals": {
    "cordova": false
  }
}
