<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.adobe.plugins.PushPlugin"
    version="1.1.1">

    <name>PushPlugin</name>

	<asset src="www/PushNotification.js" target="PushNotification.js" />

	<platform name="android">
        <config-file target="res/xml/config.xml" parent="plugins">
    		<plugin name="PushPlugin" value="com.plugin.GCM.PushPlugin" />
        </config-file>
    
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.GET_TASKS" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.GET_ACCOUNTS" />
			<uses-permission android:name="android.permission.WAKE_LOCK" />
			<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
			<permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
			<uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
  		</config-file>
  		
     	<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.plugin.GCM.PushHandlerActivity"/>
 			<receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
 				<intent-filter>
 					<action android:name="com.google.android.c2dm.intent.RECEIVE" />
 					<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
 					<category android:name="$PACKAGE_NAME" />
 				</intent-filter>
 			</receiver>
 			<service android:name="com.google.android.gcm.GCMIntentService" />
		</config-file>
		
		<source-file src="src/android/com/google/android/gcm/GCMBaseIntentService.java" target-dir="src/com/google/android/gcm/" />
 		<source-file src="src/android/com/google/android/gcm/GCMBroadcastReceiver.java" target-dir="src/com/google/android/gcm/" />
 		<source-file src="src/android/com/google/android/gcm/GCMConstants.java" target-dir="src/com/google/android/gcm/" />
 		<source-file src="src/android/com/google/android/gcm/GCMRegistrar.java" target-dir="src/com/google/android/gcm/" />
 		<source-file src="src/android/com/google/android/gcm/GCMIntentService.java" target-dir="src/com/google/android/gcm/" />
 		<source-file src="src/android/com/plugin/GCM/PushPlugin.java" target-dir="src/com/plugin/GCM/" />
 		<source-file src="src/android/com/plugin/GCM/PushHandlerActivity.java" target-dir="src/com/plugin/GCM/" />
 		<source-file src="src/android/com/plugin/android-support-v13.jar" target-dir="libs/" />
    </platform>

  <!-- ios -->
    <platform name="ios">
		<!-- Cordova < 2.3 -->
        <plugins-plist key="PushPlugin" string="PushPlugin" />
        
		<!-- Cordova >= 2.3 -->
		<config-file target="config.xml" parent="/cordova/plugins">
			<plugin name="PushPlugin" value="PushPlugin"/>
		</config-file>
        
        <source-file src="AppDelegate+notification.h" />
        <source-file src="AppDelegate+notification.m" />
        <source-file src="PushPlugin.h" />
        <source-file src="PushPlugin.m" />
    </platform>
</plugin>
